project:
  type: website
  output-dir: docs

website:
  title: "IntermediaiRe: intermediate R"
  description: "Homepage for IntermediaiRe - Intermediate R programming."
  
  open-graph: true

  page-footer:
    right: "This page is built with ❤️ and [Quarto](https://quarto.org/)."
    background: "#D9E3E4"

  sidebar:
    background: "#D9E3E4"
    logo: "img/logos/logo1.png"
    pinned: true
    align: center
    tools:
      - icon: github
        href: https://github.com/vguillemot/IntermediaiRe
        text: "GitHub"
        
    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - href: index.qmd
        text: Course description
      - href: pages/00_reminders.qmd
        text: Introduction and reminders
      - href: pages/01_rmarkdown.qmd
        text: R Markdown
      - href: pages/02_visualization.qmd
        text: Visualization
      - href: pages/03_project.qmd
        text: Project
      - href: pages/about.qmd
        text: About
      - href: https://docs.google.com/document/d/10kde779rUbfv-LA2cAWe8PJZUw7E0qK0OpNP6Smw4Dk/edit?usp=sharing
        text: --Link to shared script--

# Attention, il faut mettre à jour le lien vers le site à deux endroits : ci-dessous et ci-dessus!

shared_script_url: "https://docs.google.com/document/d/10kde779rUbfv-LA2cAWe8PJZUw7E0qK0OpNP6Smw4Dk/edit?usp=sharing"

format:
  html:
    theme:
      light: [cosmo, theme.scss]
      dark: [cosmo, theme-dark.scss]
    mainfont: "Atkinson Hyperlegible"
    code-copy: true
    code-overflow: wrap
    toc: true

freeze: auto
